.info{
    background: white;
    width: 55%;
    margin: 10% auto;
    padding: 4%;
    font-size: 1rem;
    -webkit-box-shadow: 6px 9px 22px 3px rgba(176,170,132,0.5);
    -moz-box-shadow: 6px 9px 22px 3px rgba(176,170,132,0.5);
    box-shadow: 6px 9px 22px 3px rgba(176,170,132,0.5);
}
.info h2 {
    margin: 0;
    margin-bottom: 1.7rem;
}
.custom-select {
    border: 1px solid grey;
}
.custom-select:focus {
    border: .1px solid grey;
    outline: 0;
    box-shadow: 0 0 0 0.2rem grey;
}
.form-control{
    padding: 5%;
    border: none;
    border-bottom: 1px solid grey;
    background: white;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border: .1px solid grey;
    outline: 0;
    box-shadow: 0 0 0 0.2rem grey;
}
.button {
    margin-bottom: 1rem;
}
.btn {
  color: grey;
    border-color: grey;
}
.btn:hover {
    color: #fff;
    background-color: grey;
    border-color: grey;
}
.btn:focus {
    box-shadow: 0 0 0 0.2rem grey;
}
.btn:active {
    color: #fff;
    background-color: grey;
    border-color: grey;
}
.card {
    width: 12rem;
    margin: 1rem .5rem 1rem .5rem;
    
}
.row {
    margin-right: 0; 
     margin-left: 0;
}
@media only screen and (max-width: 600px) {
    .card {
      width: 15rem;
      margin: 1rem auto;
    }
  }