.navigation {
    height: 100%;
    background: black;
    color: white;
    margin: 1rem auto 0 auto;
    padding: 4%;
} 

.lil-navigation {
    height: 100%;
    background: red;
    color: white;
    margin: 1rem auto 0 auto;
    padding: 2%;
} 
li {
    list-style: none;
} 
hr {
    border: 1px solid pink;
}

.navigation ul {
    padding-inline-start: 0;
    margin-bottom: 0;
} 
.img-fluid {
    border: 2px solid white;
    padding:2px;
}